@import "tailwindcss";
@import "uniwind";

@theme {
    --font-sans: "Poppins_400Regular";
    --font-light: "Poppins_300Light";
    --font-regular: "Poppins_400Regular";
    --font-medium: "Poppins_500Medium";
    --font-semibold: "Poppins_600SemiBold";
    --font-bold: "Poppins_700Bold";
    --font-black: "Poppins_900Black";
}

@layer theme {
    :root {
        @variant dark {
            --color-background: #fffaf5;
            --color-foreground: #1a1a1a;
            --color-foreground-muted: #666666;
            --color-primary: #f58700;
            --color-primary-muted: #ffe4c2;
            --color-card: #1f2937;
            --color-border: #cccccc;
            --color-destructive: #e55b48;
            --color-success: #329930;
            --color-success-muted: #d9f2e3;
        }

        /* Light theme variables */
        @variant light {
            --color-background: #fffaf5;
            --color-foreground: #1a1a1a;
            --color-foreground-muted: #666666;
            --color-primary: #f58700;
            --color-primary-muted: #ffe4c2;
            --color-card: #1f2937;
            --color-border: #cccccc;
            --color-destructive: #e55b48;
            --color-success: #329930;
            --color-success-muted: #d9f2e3;
        }
    }
}

@utility flex-center {
    @apply flex justify-center items-center;
}
